body{
    width: 100%;
    padding: 0 0;
}

#pesquisa{
    width: 35rem;
    margin-left: 2rem;
}

#btnPesquisa{
    height: 2.4rem;
    margin-left: 0.5rem;
    margin-right: 1.4rem;
}

#btnFiltro{
    width: 35rem;
    height: 2.4rem;
}